
<div class="container">
<div class="row">
Seach by title:
<form id="search_form" action="/movies/search_by_title">
          <div class="form-group">
            <input type="text" class="form-control" id="search_input" name = "name" placeholder="e.g., Dune">
          </div>
          <button type="submit" id="submit-btn" class="btn btn-primary mt-2">Submit</button>
        </form>
</div>


<div class="row">
Seach by title:
<form id="search_form" action="/movies/search_by_title">
          <div class="form-group">
            <input type="text" class="form-control" id="search_input" name = "name" placeholder="Dune">
          </div>
          <button type="submit" id="submit-btn" class="btn btn-primary mt-2">Submit</button>
        </form>
</div>
</div>