 <% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <p><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <p><%= alert %></p>
  </div>
<% end %>