 <% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <p class="m-0"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <p class="m-0"><%= alert %></p>
  </div>
<% end %>