 <% if flash[:notice] %>
  <div class="alert alert-success text-center m-0" role="alert">
    <p class="m-0"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger text-center m-0" role="alert">
    <p class="m-0"><%= alert %></p>
  </div>
<% end %>