<div class="container">
  <div class="row align-items-start">
    <div class="col-6 py-2 px-1">
      <h6 class="mt-1">© 2022 Taylor Rusthoven</h6>
    </div>
    <div class="col-6 py-2 px-1">
      <div class="mt-1">
        <h6 class="text-uppercase">Credits</h6>
        <span class="">This product uses the TMDB API but is not endorsed or certified by TMDB.</span>
        <div class="mt-1">
          <%= image_pack_tag "media/images/TMDB_logo.png", size: "230x45", alt: "TMDB logo", class:"img-fluid" %>
        </div>
      </div>
    </div>
  </div>
</div>


  

