<div>
  <h6 class="py-2 m-0">© 2022 Taylor Rusthoven</h6>
  <h5 class="text-uppercase pt-0 m-0">Credits</h5>
  This product uses the TMDB API but is not endorsed or certified by TMDB.
  <div>
  <%= image_pack_tag "media/images/TMDB_logo.png", size: "235x35", alt: "TMDB logo"%>
  </div>
</div>


  

