<div class="pt-3 pb-2">
  <h6 class="mb-2">© 2022 Taylor Rusthoven</h6>
  <h5 class="text-uppercase m-0">Credits</h5>
  This product uses the TMDB API but is not endorsed or certified by TMDB.
  <div class="mt-1">
    <%= image_pack_tag "media/images/TMDB_logo.png", size: "235x35", alt: "TMDB logo"%>
  </div>
</div>


  

