<div class="container">
  <div class="row">
    <div class="col mx-auto" style="max-width:500px;">
      <h1 class="mt-5">Edit Review for <%= @review.movie.name %></h1>  
      <div class="form">
        <%= render "form", review: @review %>
      </div>
    </div>
  </div>
</div>
